{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="slider">
          <div class="ceo-remarks">
              <div class="ceo-pics">
                <img src="{% static "images/ceo.JPEG" %}" class="picture">
                <p class="ceo-field">Babatunde Okerayi, CEO Pavone Events.</p>
              </div>
              <p class="ceo-name"> Pavone is an event outfit based in Lagos, Nigeria, one of the fastest growing eventoutfits  in  Nigeria.  Pavone  Event  is  focused  on  achieving  world  class  organized  events  with contemporary designs  and creativity  that deals  with the solution of having an ever-thoughtabout events and occasions.We at Pavone provides long lasting memorable events which will take forever to recover from,because we are highly trained to provide at maximum capacity, our customer relation is secondto none, with quality equipment used at events providing optimum satisfaction.We have quality and trending equipments for supplies and rentals for any type of events.</p>
              <br />

              <p class="vision"><b> Vision:</b> “To be the front runners in organizing and packaging world class events, and givingthe best in keeping memorable events”.</p>
              <br />

              <p class="mission"><b>Mission:</b> We task ourselves to provide to provide the best ever-thought about event by ourclients  and fulfilling their  dream of a classical  event by rendering our skill  and creativity  toachieve their dream event and leaving a long lasting memory in their lives.</p>
          </div>
    </div>
{% endblock %}