{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="slider">
    <ul class="slides">
      <li>  
        <img src="{% static "images/deco1.JPG" %}"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our principle!</h3>
            <h5 class="light grey-text text-lighten-3">We keep to our word...nothing short of Creativity.</h5>
          </div>
      </li>

      <li>
        <img src="{% static "images/deco2.JPG" %}"> <!-- random image -->
          <div class="caption left-align">
            <h3>Our Touch</h3>
            <h5 class="light grey-text text-lighten-3">Always of Royalty.</h5>
          </div>
      </li>

      <li>      
        <img src="{% static "images/deco3.JPG" %}"> <!-- random image -->
          <div class="caption right-align">
            <h3>Bringing you fantacies</h3>
            <h5 class="light grey-text text-lighten-3">To Reality</h5>
          </div>
      </li>

      <li>
        <img src="{% static "images/deco4.JPG" %}"> <!-- random image -->
          <div class="caption center-align">
            <h3>We leave a lasting impression!</h3>
            <h5 class="light grey-text text-lighten-3">Pavone Events.</h5>
          </div>
      </li>

      <li>
        <img src="{% static "images/deco4.JPG" %}"> <!-- random image -->
          <div class="caption center-align">
            <h3>We leave a lasting impression!</h3>
            <h5 class="light grey-text text-lighten-3">Pavone Events.</h5>
          </div>
      </li>

      <li>
        <img src="{% static "images/deco4.JPG" %}"> <!-- random image -->
          <div class="caption center-align">
            <h3>We leave a lasting impression!</h3>
            <h5 class="light grey-text text-lighten-3">Pavone Events.</h5>
          </div>
      </li>

      <li>
        <img src="{% static "images/deco4.JPG" %}"> <!-- random image -->
          <div class="caption center-align">
            <h3>We leave a lasting impression!</h3>
            <h5 class="light grey-text text-lighten-3">Pavone Events.</h5>
          </div>
      </li>
    </ul>
  </div>
{% endblock %}

{% block local_js %}
<script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
{% endblock local_js %}